@font-face {
    font-family: 'EntypoRegular';
    src: url('entypo/entypo.eot');
    src: url('entypo/entypod41d.eot?#iefix') format('embedded-opentype'),
         url('entypo/entypo.woff') format('woff'),
         url('entypo/entypo.ttf') format('truetype'),
         url('entypo/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoSocialRegular';
    src: url('entypo/entypo-social.eot');
    src: url('entypo/entypo-sociald41d.eot?#iefix') format('embedded-opentype'),
         url('entypo/entypo-social.woff') format('woff'),
         url('entypo/entypo-social.ttf') format('truetype'),
         url('entypo/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico {
	font-family: 'EntypoRegular';
	font-size: 2em;
	font-weight: normal;
	line-height: 0;
}

.ico-social {
	font-family: 'EntypoSocialRegular';
	font-size: 2em;
	font-weight: normal;
	line-height: 0;
}

.ico.phone:before{ content:'\1F4DE'; }
.ico.mobile:before{ content:'\1F4F1'; }
.ico.mouse:before{ content:'\E789'; }
.ico.address:before{ content:'\E723'; }
.ico.mail:before{ content:'\2709'; }
.ico.paper-plane:before{ content:'\1F53F'; }
.ico.pencil:before{ content:'\270E'; }
.ico.feather:before{ content:'\2712'; }
.ico.attach:before{ content:'\1F4CE'; }
.ico.inbox:before{ content:'\E777'; }
.ico.reply:before{ content:'\E712'; }
.ico.reply-all:before{ content:'\E713'; }
.ico.forward:before{ content:'\27A6'; }
.ico.user:before{ content:'\1F464'; }
.ico.users:before{ content:'\1F465'; }
.ico.add-user:before{ content:'\E700'; }
.ico.vcard:before{ content:'\E722'; }
.ico.export:before{ content:'\E715'; }
.ico.location:before{ content:'\E724'; }
.ico.map:before{ content:'\E727'; }
.ico.compass:before{ content:'\E728'; }
.ico.direction:before{ content:'\27A2'; }
.ico.hair-cross:before{ content:'\1F3AF'; }
.ico.share:before{ content:'\E73C'; }
.ico.shareable:before{ content:'\E73E'; }
.ico.heart:before{ content:'\2665'; }
.ico.heart-empty:before{ content:'\2661'; }
.ico.star:before{ content:'\2605'; }
.ico.star-empty:before{ content:'\2606'; }
.ico.thumbs-up:before{ content:'\1F44D'; }
.ico.thumbs-down:before{ content:'\1F44E'; }
.ico.chat:before{ content:'\E720'; }
.ico.comment:before{ content:'\E718'; }
.ico.quote:before{ content:'\275E'; }
.ico.home:before{ content:'\2302'; }
.ico.popup:before{ content:'\E74C'; }
.ico.search:before{ content:'\1F50D'; }
.ico.flashlight:before{ content:'\1F526'; }
.ico.print:before{ content:'\E716'; }
.ico.bell:before{ content:'\1F514'; }
.ico.link:before{ content:'\1F517'; }
.ico.flag:before{ content:'\2691'; }
.ico.cog:before{ content:'\2699'; }
.ico.tools:before{ content:'\2692'; }
.ico.trophy:before{ content:'\1F3C6'; }
.ico.tag:before{ content:'\E70C'; }
.ico.camera:before{ content:'\1F4F7'; }
.ico.megaphone:before{ content:'1F4E3'; }
.ico.moon:before{ content:'\0045'; }
.ico.palette:before{ content:'\1F3A8'; }
.ico.leaf:before{ content:'\1F342'; }
.ico.note:before{ content:'\266A'; }
.ico.beamed-note:before{ content:'\266B'; }
.ico.new:before{ content:'\1F4A5'; }
.ico.graduation-cap:before{ content:'\1F393'; }
.ico.book:before{ content:'\1F4D5'; }
.ico.newspaper:before{ content:'\1F4F0'; }
.ico.bag:before{ content:'\1F45C'; }
.ico.airplane:before{ content:'\2708'; }
.ico.lifebuoy:before{ content:'\E788'; }
.ico.eye:before{ content:'\E70A'; }
.ico.clock:before{ content:'\1F554'; }
.ico.mic:before{ content:'\1F3A4'; }
.ico.calendar:before{ content:'\1F4C5'; }
.ico.flash:before{ content:'\26A1'; }
.ico.thunder-cloud:before{ content:'\26C8'; }
.ico.droplet:before{ content:'\1F4A7'; }
.ico.cd:before{ content:'\1F4BF'; }
.ico.briefcase:before{ content:'\1F4BC'; }
.ico.air:before{ content:'\1F4A8'; }
.ico.hourglass:before{ content:'\23F3'; }
.ico.gauge:before{ content:'\1F6C7'; }
.ico.language:before{ content:'\1F394'; }
.ico.network:before{ content:'\E776'; }
.ico.key:before{ content:'\1F511'; }
.ico.battery:before{ content:'\1F50B'; }
.ico.bucket:before{ content:'\1F4FE'; }
.ico.magnet:before{ content:'\E7A1'; }
.ico.drive:before{ content:'\1F4FD'; }
.ico.cup:before{ content:'\2615'; }
.ico.rocket:before{ content:'\1F680'; }
.ico.brush:before{ content:'\E79A'; }
.ico.suitcase:before{ content:'\1F6C6'; }
.ico.traffic-cone:before{ content:'\1F6C8'; }
.ico.globe:before{ content:'\1F30E'; }
.ico.keyboard:before{ content:'\2328'; }
.ico.browser:before{ content:'\E74E'; }
.ico.publish:before{ content:'\E74D'; }
.ico.progress-3:before{ content:'\E76B'; }
.ico.progress-2:before{ content:'\E76A'; }
.ico.progress-1:before{ content:'\E769'; }
.ico.progress-0:before{ content:'\E768'; }
.ico.light-down:before{ content:'\1F505'; }
.ico.light-up:before{ content:'\1F506'; }
.ico.adjust:before{ content:'\25D1'; }
.ico.code:before{ content:'\E714'; }
.ico.monitor:before{ content:'\1F4BB'; }
.ico.infinity:before{ content:'\221E'; }
.ico.light-bulb:before{ content:'\1F4A1'; }
.ico.credit-card:before{ content:'\1F4B3'; }
.ico.database:before{ content:'\1F4F8'; }
.ico.voicemail:before{ content:'\2707'; }
.ico.clipboard:before{ content:'\1F4CB'; }
.ico.cart:before{ content:'\E73D'; }
.ico.box:before{ content:'\1F4E6'; }
.ico.ticket:before{ content:'\1F3AB'; }
.ico.rss:before{ content:'\E73A'; }
.ico.signal:before{ content:'\1F4F6'; }
.ico.thermometer:before{ content:'\1F4FF'; }
.ico.water:before{ content:'\1F4A6'; }
.ico.sweden:before{ content:'\F601'; }
.ico.line-graph:before{ content:'\1F4C8'; }
.ico.pie-chart:before{ content:'\25F4'; }
.ico.bar-graph:before{ content:'\1F4CA'; }
.ico.area-graph:before{ content:'\1F53E'; }
.ico.lock:before{ content:'\1F512'; }
.ico.lock-open:before{ content:'\1F513'; }
.ico.logout:before{ content:'\E741'; }
.ico.login:before{ content:'\E740'; }
.ico.check:before{ content:'\2713'; }
.ico.cross:before{ content:'\274C'; }
.ico.squared-minus:before{ content:'\229F'; }
.ico.squared-plus:before{ content:'\229E'; }
.ico.squared-cross:before{ content:'\274E'; }
.ico.circled-minus:before{ content:'\2296'; }
.ico.circled-plus:before{ content:'\2295'; }
.ico.circled-cross:before{ content:'\2716'; }
.ico.minus:before{ content:'\2796'; }
.ico.plus:before{ content:'\2795'; }
.ico.erase:before{ content:'\232B'; }
.ico.block:before{ content:'\1F6AB'; }
.ico.info:before{ content:'\2139'; }
.ico.circled-info:before{ content:'\E705'; }
.ico.help:before{ content:'\2753'; }
.ico.circled-help:before{ content:'\E704'; }
.ico.warning:before{ content:'\26A0'; }
.ico.cycle:before{ content:'\1F504'; }
.ico.cw:before{ content:'\27F3'; }
.ico.ccw:before{ content:'\27F2'; }
.ico.shuffle:before{ content:'\1F500'; }
.ico.back:before{ content:'\1F519'; }
.ico.level-down:before{ content:'\21B3'; }
.ico.retweet:before{ content:'\E717'; }
.ico.loop:before{ content:'\1F501'; }
.ico.back-in-time:before{ content:'\E771'; }
.ico.level-up:before{ content:'\21B0'; }
.ico.switch:before{ content:'\21C6'; }
.ico.numbered-list:before{ content:'\E005'; }
.ico.add-to-list:before{ content:'\E003'; }
.ico.layout:before{ content:'\268F'; }
.ico.list:before{ content:'\2630'; }
.ico.text-doc:before{ content:'\1F4C4'; }
.ico.text-doc-inverted:before{ content:'\E731'; }
.ico.doc:before{ content:'\E730'; }
.ico.docs:before{ content:'\E736'; }
.ico.landscape-doc:before{ content:'\E737'; }
.ico.picture:before{ content:'\1F304'; }
.ico.video:before{ content:'\1F3AC'; }
.ico.music:before{ content:'\1F3B5'; }
.ico.folder:before{ content:'\1F4C1'; }
.ico.archive:before{ content:'\E800'; }
.ico.trash:before{ content:'\E729'; }
.ico.upload:before{ content:'\1F4E4'; }
.ico.download:before{ content:'\1F4E5'; }
.ico.save:before{ content:'\1F4BE'; }
.ico.install:before{ content:'\E778'; }
.ico.cloud:before{ content:'\2601'; }
.ico.upload-cloud:before{ content:'\E711'; }
.ico.bookmark:before{ content:'\1F516'; }
.ico.bookmarks:before{ content:'\1F4D1'; }
.ico.open-book:before{ content:'\1F4D6'; }
.ico.play:before{ content:'\25B6'; }
.ico.paus:before{ content:'\2016'; }
.ico.record:before{ content:'\25CF'; }
.ico.stop:before{ content:'\25A0'; }
.ico.ff:before{ content:'\23E9'; }
.ico.fb:before{ content:'\23EA'; }
.ico.to-start:before{ content:'\23EE'; }
.ico.to-end:before{ content:'\23ED'; }
.ico.resize-full:before{ content:'\E744'; }
.ico.resize-small:before{ content:'\E746'; }
.ico.volume:before{ content:'\23F7'; }
.ico.sound:before{ content:'\1F50A'; }
.ico.mute:before{ content:'\1F507'; }
.ico.flow-cascade:before{ content:'\1F568'; }
.ico.flow-branch:before{ content:'\1F569'; }
.ico.flow-tree:before{ content:'\1F56A'; }
.ico.flow-line:before{ content:'\1F56B'; }
.ico.flow-parallel:before{ content:'\1F56C'; }
.ico.left-bold:before{ content:'\E4AD'; }
.ico.down-bold:before{ content:'\E4B0'; }
.ico.up-bold:before{ content:'\E4AF'; }
.ico.right-bold:before{ content:'\E4AE'; }
.ico.left:before{ content:'\2B05'; }
.ico.down:before{ content:'\2B07'; }
.ico.up:before{ content:'\2B06'; }
.ico.right:before{ content:'\27A1'; }
.ico.circled-left:before{ content:'\E759'; }
.ico.circled-down:before{ content:'\E758'; }
.ico.circled-up:before{ content:'\E75B'; }
.ico.circled-right:before{ content:'\E75A'; }
.ico.triangle-left:before{ content:'\25C2'; }
.ico.triangle-down:before{ content:'\25BE'; }
.ico.triangle-up:before{ content:'\25B4'; }
.ico.triangle-right:before{ content:'\25B8'; }
.ico.chevron-left:before{ content:'\E75D'; }
.ico.chevron-down:before{ content:'\E75C'; }
.ico.chevron-up:before{ content:'\E75F'; }
.ico.chevron-right:before{ content:'\E75E'; }
.ico.chevron-small-left:before{ content:'\E761'; }
.ico.chevron-small-down:before{ content:'\E760'; }
.ico.chevron-small-up:before{ content:'\E763'; }
.ico.chevron-small-right:before{ content:'\E762'; }
.ico.chevron-thin-left:before{ content:'\E765'; }
.ico.chevron-thin-down:before{ content:'\E764'; }
.ico.chevron-thin-up:before{ content:'\E767'; }
.ico.chevron-thin-right:before{ content:'\E766'; }
.ico.left-thin:before{ content:'\2190'; }
.ico.down-thin:before{ content:'\2193'; }
.ico.up-thin:before{ content:'\2191'; }
.ico.right-thin:before{ content:'\2192'; }
.ico.arrow-combo:before{ content:'\E74F'; }
.ico.three-dots:before{ content:'\23F6'; }
.ico.two-dots:before{ content:'\23F5'; }
.ico.dot:before{ content:'\23F4'; }
.ico.cc:before{ content:'\1F545'; }
.ico.cc-by:before{ content:'\1F546'; }
.ico.cc-nc:before{ content:'\1F547'; }
.ico.cc-nc-eu:before{ content:'\1F548'; }
.ico.cc-nc-jp:before{ content:'\1F549'; }
.ico.cc-sa:before{ content:'\1F54A'; }
.ico.cc-nd:before{ content:'\1F54B'; }
.ico.cc-pd:before{ content:'\1F54C'; }
.ico.cc-zero:before{ content:'\1F54D'; }
.ico.cc-share:before{ content:'\1F54E'; }
.ico.cc-remix:before{ content:'\1F54F'; }
.ico.db-logo:before{ content:'\1F5F9'; }
.ico.db-shape:before{ content:'\1F5FA'; }

.ico-social.github:before{ content:'\F300'; }
.ico-social.c-github:before{ content:'\F301'; }
.ico-social.flickr:before{ content:'\F303'; }
.ico-social.c-flickr:before{ content:'\F304'; }
.ico-social.vimeo:before{ content:'\F306'; }
.ico-social.c-vimeo:before{ content:'\F307'; }
.ico-social.twitter:before{ content:'\F309'; }
.ico-social.c-twitter:before{ content:'\F30A'; }
.ico-social.facebook:before{ content:'\F30C'; }
.ico-social.c-facebook:before{ content:'\F30D'; }
.ico-social.s-facebook:before{ content:'\F30E'; }
.ico-social.google+:before{ content:'\F30F'; }
.ico-social.c-google+:before{ content:'\F310'; }
.ico-social.pinterest:before{ content:'\F312'; }
.ico-social.c-pinterest:before{ content:'\F313'; }
.ico-social.tumblr:before{ content:'\F315'; }
.ico-social.c-tumblr:before{ content:'\F316'; }
.ico-social.linkedin:before{ content:'\F318'; }
.ico-social.c-linkedin:before{ content:'\F319'; }
.ico-social.dribbble:before{ content:'\F31B'; }
.ico-social.c-dribbble:before{ content:'\F31C'; }
.ico-social.stumbleupon:before{ content:'\F31E'; }
.ico-social.c-stumbleupon:before{ content:'\F31F'; }
.ico-social.lastfm:before{ content:'\F321'; }
.ico-social.c-lastfm:before{ content:'\F322'; }
.ico-social.rdio:before{ content:'\F324'; }
.ico-social.c-rdio:before{ content:'\F325'; }
.ico-social.spotify:before{ content:'\F327'; }
.ico-social.c-spotify:before{ content:'\F328'; }
.ico-social.qq:before{ content:'\F32A'; }
.ico-social.instagram:before{ content:'\F32D'; }
.ico-social.dropbox:before{ content:'\F330'; }
.ico-social.evernote:before{ content:'\F333'; }
.ico-social.flattr:before{ content:'\F336'; }
.ico-social.skype:before{ content:'\F339'; }
.ico-social.c-skype:before{ content:'\F33A'; }
.ico-social.renren:before{ content:'\F33C'; }
.ico-social.sina-weibo:before{ content:'\F33F'; }
.ico-social.paypal:before{ content:'\F342'; }
.ico-social.picasa:before{ content:'\F345'; }
.ico-social.soundcloud:before{ content:'\F348'; }
.ico-social.mixi:before{ content:'\F34B'; }
.ico-social.behance:before{ content:'\F34E'; }
.ico-social.google-circles:before{ content:'\F351'; }
.ico-social.vk:before{ content:'\F354'; }
.ico-social.smashing:before{ content:'\F357'; }