a:hover, .navigation > ul > li:hover > a, .navigation > ul > li > ul > li:hover > a, .navigation > ul > li > ul > li > ul > li:hover > a, .navigation > ul > li > ul > li > ul > li > ul > li:hover > a, .text-primary, .btn-primary .badge, .btn-link,a.list-group-item.active > .badge,.nav-pills > .active > a > .badge, p.drop-caps:first-child:first-letter, .accent-color, .post-more, ul.nav-list-primary > li a:hover, .mfp-title a, .grid-item.post .continue-reading, .grid-item.post h3 a:hover, .grid-item.post .post-footer a:hover, .meta-data a:hover, .post.format-link:hover .link-icon, .twitter_widget a, .widget.recentposts_widget .readmore, .fact-ico, blockquote p, .about-box .about-cont h4, .contact-info i.fa, .pricing-column h3, .project-info h4, .action-port .gallery-permalink {
	color:#4fc1e9;
}
.twitter_widget a:hover, .widget.recentposts_widget .readmore:hover{
  opacity:.9
}
p.drop-caps.secondary:first-child:first-letter, .accent-bg, .fa.accent-color, .btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.label-primary,
.progress-bar,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary > .panel-heading, .carousel-indicators .active, .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span, hr.sm, hr.md, hr.lg, .flex-control-nav a:hover, .flex-control-nav a.flex-active, .accordion-heading .accordion-toggle.active, .accordion-heading:hover .accordion-toggle, .accordion-heading:hover .accordion-toggle.inactive, .nav-tabs li a:hover, .nav-tabs li a:active, .nav-tabs li.active a, .page-actions-block a:hover, .page-actions-block a.inverse, .media-box .zoom span, .media-box .expand span, .secondary-header, .features.colored li .icon, .swiper .swiper-slide .permaurl, .post.format-quote a.quote-box, .about-block, .tag-cloud a, .pricing-column.highlight h3, .page-header{
  background-color: #4fc1e9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary, .next-prev-nav a:hover, .tag-cloud a:hover{
  background: #4fc1e9;
  opacity:.9
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary,
.panel-primary > .panel-heading, .fc-event, .post.format-link:hover .link-icon{
	border-color:#4fc1e9;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body, .navigation > ul > li:hover{
	border-top-color:#4fc1e9;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body, .contact-info a{
	border-bottom-color:#4fc1e9;
}
/* Color Scheme Specific Classes */